@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

html {
  background-color: var(--dark);
  scroll-behavior: smooth; /* set smooth scroll */
}

/************************/
/******* VARIABLES ******/
/************************/

:root {
  --light: #F2EEE3;
  --dark: #0D111C;
  --blue: #A9B9DB;
  --brown: #564624;
  --trans: 1s ease-in-out;
}

/************************/
/*******   TEXT   *******/
/************************/

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 4em;
  font-weight: 800;
  color: var(--dark);
  margin: 0;
  text-transform: uppercase;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  color: var(--dark);
  margin: 0;
  text-transform: uppercase;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
}

h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 4em;
  font-weight: 800;
  margin: 0;
  text-transform: uppercase;
}

h5 {
  font-family: 'Poppins', sans-serif;
  font-size: 0.8em;
  font-weight: 400;
  margin: 0 0.5em;
  text-transform: uppercase;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 0.7em;
  font-weight: 400;
  line-height: 2.5;
  margin: 0;
}

a, a:hover, a:focus, a:active, a:visited {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  color: var(--dark);
  text-decoration: none;
  text-decoration-color: none;
  text-transform: uppercase;
  margin: 0.1em 2em 0;
 }

/************************/
/********* LOGO *********/
/************************/

  .logo-cntnr {
    width: 50%
  }


 .logo-cntnr, .one, .two, .three, .four, .five {
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
 }

  .one {
    width: 20em;
    height: 20em;
    border-radius: 49%;
    animation: logoSpinR 13.4s infinite;
    z-index: 1;
    background-color: var(--dark);
  }

  .two {
    width: 16em;
    height: 16em;
    margin-right: 2.48em;
    border-radius: 48%;
    animation: logoSpinL 11.7s infinite;
    z-index: 2;
    background-color: var(--light);
  }

  .three {
    width: 12em;
    height: 12em;
    margin-right: -1.72em;
    border-radius: 49%;
    animation: logoSpinR 9.3s infinite;
    z-index: 3;
    background-color: var(--dark);
  }

  .four {
    width: 8.8em;
    height: 8.8em;
    margin-right: 1.72em;
    border-radius: 50%;
    animation: logoSpinL 7.7s infinite;
    z-index: 4;
    background-color: var(--light);
  }

  .five {
    width: 4em;
    height: 4em;
    margin-right: -2.48em;
    border-radius: 50%;
    animation: logoSpinL 3.7s infinite;
    z-index: 5;
    background-color: var(--dark);
  }

  @keyframes logoSpinR {
    100% { transform: rotate(360deg); }
  }

  @keyframes logoSpinL {
    100% { transform: rotate(360deg); }
  }

 .ani-paused { animation-play-state: paused; }

 .logo-hvr { background-color: var(--blue); }

/************************/
/******** ELEMENTS ******/
/************************/

.blog-page-cntnr {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

header {
  width: calc(100% - 10vw); /* subtract padding */
  height: 10em; /* same as blog post header size */
  color: var(--dark);
  padding: 0 10vw 0 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light);
}

.blog-hdng-cntnr {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog-cntnr-top {
  width: calc(100% + 2px);
  height: 1100px;
  display: flex;
  margin-top: -2px;
  margin-left: 2px;
}

.blog-cntnr-mid {
  width: calc(100% + 2px);
  height: 550px;
  display: flex;
  margin-left: -2px;
}

.blog-cntnr-btm {
  width: calc(100% + 2px);
  height: 1100px;
  display: flex;
  margin-top: -2px;
  margin-left: -2px;
}

.blog-col {
  width: 30%;
}

.blog-row {
  width: 50%;
  display: flex;
}

.blog-lndng {
  width: 70%;
  border: 2px solid black;
  margin-top: -2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-quots-cntnr {
  height: 90%;
  width: 90%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.blog-quots-cntnr p {
  font-size: 1em;
}

.new {
  width: 100%;
  height: calc(100% - 10em); /* subtract hdr height */
  border-top: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light);
}

.xl {
  width: 70%;
  border: 2px solid black;
  margin-top: -2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light);
}

.l {
  width: 50%;
  border: 2px solid black;
  margin-top: -2px;
  margin-right: -2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light);
}

.m {
  height: calc(50% - 2px);
  border: 2px solid black;
  margin: -2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light);
}

.s {
  width: 50%;
  border: 2px solid black;
  margin-top: -2px;
  margin-right: -2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light);
}

.blue-lmnt {
  background-color: var(--blue);
}

.blue-lmnt p, .blue-lmnt h2, .blue-lmnt h3 {
  color: var(--brown);
}


/************************/
/******* BLOG INFO ******/
/************************/

.blog-lmnt-link {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog-lmnt-info {
  width: 100%;
  height: 10%;
  display: flex;
}

.blog-lmnt-date {
  width: 50%;
  display: flex;
  align-items: flex-end;
}

.blog-lmnt-theme {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.blog-lmnt-img {
  width: 100%;
  height: 65%;
  background: url("") no-repeat center;
  background-size: cover;
}

.blog-lmnt-title {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
}

.blog-lmnt-subtitle {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: flex-start;
}

/************************/
/******* BLOG FONT ******/
/************************/

.xl h2 { font-size: 3em; }
.xl h3 { font-size: 2.2em; }

.new h2 { font-size: 2.4em; }
.new h3 { font-size: 2em; }

.l h2 { font-size: 1.2em; }
.l h3 { font-size: 1em; }

.m h2 { font-size: 1.2em; }
.m h3 { font-size: 0.8em; }

.s h2 { font-size: 1.2em; }
.s h3 { font-size: 0.8em; }
